.footer-container {
    background-color: rgb(0, 0, 0);
    text-align: center;
}

.footer-container h1 {
    color: var(--font-and-background-color);
    font-size: 64px;
    font-weight: 700;
    line-height: 96px;
    padding-top: 100px;
    margin-bottom: 25px;
}

.footer-options {
    display: flex;
    justify-content: center;
    gap: 26px;
    margin-bottom: 33px;
}

.footer-options a {
    color: var(--font-primary-color);
    font-size: 21px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 3%;
    text-decoration: none;
}

.footer-social-icons i {
    font-size: 32px;
    color: var(--font-primary-color);
    margin-right: 26px;
    margin-bottom: 60px;
}

.footer-content {
    text-align: center;
    padding: 26px 0;
}

.footer-content p {
    color: var(--font-primary-color);
    font-size: 21px;
    font-weight: 400;
    line-height: 32px;

}