/* navbar style starts here  */
.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 45px;
}

.navbar-container h2 {
    color: var(--font-and-background-color);
    font-size: 28px;
    font-weight: 700;
    line-height: 48px;
}

.nav-option-container {
    display: flex;
    align-items: center;
    gap: 26px;
}

.nav-option-container li {
    list-style: none;
}

.nav-option-container a {
    text-decoration: none;
    color: var(--font-primary-color);
    font-size: 18px;
    font-weight: 400;

}

.nav-option-container button {
    background-color: var(--font-and-background-color);
    color: var(--font-primary-color);
    font-size: 16px;
    font-weight: 400;
    border: none;
    padding: 11px 19px;
}

.star {
    background: rgb(253, 133, 58);
    width: 34px;
    height: 34px;
    /* Inside Auto Layout */

    margin: 0px 20px;
    transform: rotate(-3.97deg);
}


/* banner section styles  */

.banner-section-container {
    display: flex;
    margin-top: 50px;
    align-items: center;
    gap: 50px;

}

.banner-section-details {

    margin-top: 20px;

}

.banner-section-details h1 {
    color: var(--font-primary-color);
    font-size: 32px;
    font-weight: 800;
    line-height: 47px;
    letter-spacing: -1.5%;
    text-transform: uppercase;
    margin-bottom: 12px;
}

.sparkles {
    margin: 0 20px;
}



.banner-section-details p {
    color: var(--font-secondary-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 3%;
    margin-bottom: 28px;
}

.skills-container {
    display: flex;
    gap: 20px;
    align-items: center;
}

.skills-container h5 {
    color: var(--font-primary-color);
    font-size: 20px;
    font-weight: 300;
    line-height: 28px;
    letter-spacing: -1.5%;
    text-transform: uppercase;
}

.portfolio-container {
    display: flex;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50px;
    padding: 12px;
    backdrop-filter: blur(15px);
    align-items: center;
    gap: 8px;
    border: 1px solid var(--font-primary-color);
    margin: 32px 0px;
    width: fit-content;
}

.portfolio-option-container {
    padding: 10px 20px 10px 20px;
    border-radius: 60px;
    background-color: var(--font-and-background-color);
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow {
    color: var(--font-primary-color);
    width: 30px;
    height: 25px;
}

.portfolio-container h5 {
    color: var(--font-primary-color);
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
}

.social-icons i {
    font-size: 30px;
    color: var(--font-secondary-color);
    margin-right: 25px;
}

.banner-image-container {
    width: 538px;

}

/* .banner-image-container img {
    width: 90%;
} */