@media screen and (max-width:576px) {

    /* common style  */
    .half-div {
        width: 100%;
    }


    /* navbar  */
    .navbar-container,
    .about-me-container {
        flex-direction: column;
        align-items: flex-start;
        margin-left: 20px;
    }

    .nav-option-container {
        flex-direction: column;
        align-items: flex-start;
        margin-top: 10px;
    }

    /* banner section  */

    .banner-section-container {
        flex-direction: column;
        align-items: flex-start;

    }

    .banner-section-details {
        margin-left: 20px;
    }

    .banner-image-container {
        margin: 0;
    }

    /* about me section  */

    .about-me-container {
        flex-direction: column;
        align-items: flex-start;
    }

    .about-me-desc {
        margin-bottom: 30px;
        max-width: 100%;
    }


    .rating {
        justify-content: flex-start;
    }

    .experience {

        justify-content: flex-start;
    }


    /* my experience section  */

    .my-experience-section {
        padding: 50px 20px;

    }

    .my-experience-container {
        flex-direction: column;
    }


    .my-experience-details-container {
        width: fit-content;

    }

    .experience-duration {
        flex-direction: column;

    }

    /* award section style  */

    .flexed-display {
        flex-direction: column;
    }

    .award-content-container {
        margin: 0 0 0 20px;
        text-align: start;
    }

    .award-content-container p {
        font-size: 11px;

    }

    .award-details {
        padding: 20px 0;
        width: 929px;
        margin: 0 0 0 20px;
    }

    .award-details-container h4 {
        font-size: 11px;

    }


}