@media screen and (max-width:576px) {

    /* common style  */
    .half-div {
        width: 100%;
    }


    /* navbar  */
    .navbar-container,
    .about-me-container {
        flex-direction: column;
        align-items: flex-start;
        margin-left: 20px;
    }

    .nav-option-container {
        flex-direction: column;
        align-items: flex-start;
        margin-top: 10px;
    }

    /* banner section  */

    .banner-section-container {
        flex-direction: column;
        align-items: flex-start;
        margin-left: 20px;

    }

    /* about me section  */

    .about-me-container {
        flex-direction: column;
        align-items: flex-start;
    }

    .about-me-desc {
        margin-bottom: 30px;
        max-width: 100%;
    }


    .experience-details .rating {
        justify-content: flex-start;
    }

    .experience-details p {

        justify-content: flex-start;
    }


}