@media screen and (max-width:576px) {

    /* common style  */
    .section-title-container,
    .award-details,
    .project-content,
    .contact-details {

        margin: 0 0 0 20px;
        width: 90%;
    }

    .section-title-container {
        text-align: start;

    }

    .section-title {
        font-size: 30px;
    }

    .navbar-container,
    .about-me-container,
    .nav-option-container,
    .banner-section-container,
    .skills-container,
    .my-experience-container,
    .experience-duration,
    .flexed-display,
    .projects-list,
    .first-project-container,
    .input-field-flexed,
    .footer-options {
        flex-direction: column;
    }

    .navbar-container,
    .about-me-container,
    .nav-option-container,
    .banner-section-container,
    .skills-container,
    .projects-list {
        align-items: flex-start;
    }

    .navbar-container,
    .about-me-container,
    .banner-section-details {
        margin-left: 20px;
    }

    .my-experience-content,
    .award-details-container,
    .award-details>div,
    .project-snapshot {
        width: 100%;
    }


    /* navbar styles  */
    .nav-option-container {
        margin-top: 10px;
    }

    /* banner section  */

    .banner-image-container {
        width: 100%;
        height: 100%;
    }

    .skills-div {
        display: none;
    }

    /* about me section  */


    .about-me-container {
        margin-top: 80px;
    }

    .about-me-content {
        width: 95%;
    }

    .about-me-desc {
        margin-bottom: 30px;
    }

    .rating,
    .experience {
        justify-content: flex-start;
    }

    /* my experience section  */

    .my-experience-section {
        padding: 50px 20px;
        margin-bottom: 50px;

    }

    .my-experience-container {
        gap: 30px;
    }

    .my-experience-details-container {
        width: fit-content;
    }

    .my-experience-subtitle {
        margin-top: 0px;
    }

    /* award section style  */

    .award-details-container h4 {
        margin-top: 20px;
    }

    .award-details {
        padding: 20px 0;
    }

    .projects-list {
        margin-left: 25px;
        margin-bottom: 48px;
        gap: 15px;
    }

    .second-project-container {
        flex-direction: column-reverse;

    }

    /* portfolio  */
    .my-profile-section-container {
        margin-top: 50px;
    }

    .first-project-container h5,
    .second-project-container h5 {
        margin-top: 25px;
    }

    .contact-section {
        margin-top: 60px;
        margin-bottom: 50px;
    }

    .footer-container h1 {
        padding-top: 50px;
        font-size: 50px;
    }
}