/* font-style  */
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


:root {
    --background-color: rgb(30, 30, 30);
    --font-primary-color: rgb(255, 255, 255);
    --font-secondary-color: rgba(255, 255, 255, 0.5);
    --font-and-background-color: rgb(253, 111, 0);


}

* {
    margin: 0;
    padding: 0;
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    box-sizing: border-box;
    /* outline: 1px solid red; */
}


body {
    background-color: var(--background-color);


}

/* shared styles  */

.half-div {
    width: 50%;
}

.container {
    width: 1041px;
    margin: 0 auto;
}

.flexed-display {
    display: flex;
    justify-content: space-between;
}

.section-title-container {
    text-align: center;
    width: 541px;
    margin: 0 auto;
}

.section-title {
    color: var(--font-primary-color);
    font-size: 36px;
    font-weight: 800;
    line-height: 47px;
    letter-spacing: -1.5%;
    text-transform: uppercase;
}

.section-description {
    color: var(--font-secondary-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 3%;
}

.text-font-style {
    color: var(--font-and-background-color);
}